body{
	margin: 0;
padding: 0;
  background-color: azure;
  font-family: 'Poppins';
}
.text{
  width: 100%;
  padding: 20px;
}
.social-account{
  margin-top: 10px;
}
a{
  
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  
  background-color:rgb(44, 44, 145) ;
  color: white;
}
a:hover{
  background-color: white;
  color: #000;
  border: 2px;
}

.intro{
  display: flex;
  color: rgb(44, 44, 145);
}
@media only screen and (max-width: 1024px) {
  .intro{
    display: block;

  }
  
  
}